[submodule "Honor-of-Kings-Robot"]
	path = Honor-of-Kings-Robot
	url = git@github.com:gulang2019/Honor-of-Kings-Robot.git
	branch = Docker
[submodule "mahjong"]
	path = mahjong
	url = git@github.com:gulang2019/mahjong.git
